.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px
}
.buttonStyle{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    width: 500px;
    color:white
}