.dashBoradwrapper{
    display: flex;
    flex-direction: left;
    gap: 1rem;
}
.graphWrapper{
    display: flex;
    margin-top: 5px;
}
.graphData{
    width: 600px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 8px;
}
.bargraph{
    width: 250px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 8px;
}