.cardWrapper{
    height: 100px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

}
.cardTitle{
    padding: 5px;
    margin: 10px;
}
.cardbody{
    padding: 5px;
    margin: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}